.email-details__wrapper {
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
    grid-area: emailDetails;
    width: 100%;
	overflow-y: scroll;
}

.email-details__wrapper .email-details__container {
    padding: 30px 20px 20px;
}

.email-details__wrapper .email-details__info {
    margin-bottom: 5px;
}

.email-details__wrapper .email-details__info span {
    color: #8c8c8c;
    font-size: 0.9rem;
    transition: 0.3s;
}

.email-details__wrapper .email-details__header {
    padding-bottom: 10px;
    margin-bottom: 50px;
    position: relative;
}

.email-details__wrapper .email-details__header:before {
    content: "";
    width: calc(100% - 50px);
    height: 1px;
    background: #d2d2d2;
    left: 0;
    bottom: -5px;
    position: absolute;
}

.email-details__wrapper .email-details__message p {
    color: #8c8c8c;
}

.email-details__wrapper .email-details__buttons {
    position: absolute;
    right: -5px;
    bottom: -20px;
}

.email-details__wrapper .email-details__mark {
    float: left;
    position: relative;
    display: inline-block;
    padding: 0 5px;
}

.email-details__wrapper .email-details__mark span {
    width: 35px;
    cursor: pointer;
    height: 35px;
    display: block;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid #8c8c8c; */
    border-radius: 100%;
    padding-top: 1px;
    font-size: 20px;
    color: #8c8c8c;
    transition: 0.3s;
}

.email-details__wrapper .email-details__mark span:hover {
    background: #8c8c8c;
    color: #fff;
}